# Database Configuration
DATABASE_URL=postgres://username:password@hostname:5432/database_name
DB_MAX_CONNECTIONS=5

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_SERVER_GROUP_ID=sage_server
KAFKA_WORKER_GROUP_ID=andean-group

# Kafka Topics
KAFKA_TOPIC_INPUT=input-readings
KAFKA_TOPIC_RESPONSES=responses
KAFKA_TOPIC_ERRORS=task-errors

# Server Configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=4000

# Scheduler Configuration
SCHEDULER_INTERVAL_SECONDS=30
